@{
    ViewData["Title"] = "Home Page";
}

@model TicTacToe.Models.TicTacToeModel


<h1>Tic Tac Toe</h1>

<h2>Current player: @Model.CurrentPlayer</h2>

<table>
    <tr>
        <td><a asp-action="MakeMove" asp-route-row="0" asp-route-col="0">@Model.Board[0,0]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="0" asp-route-col="1">@Model.Board[0,1]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="0" asp-route-col="2">@Model.Board[0,2]</a></td>
    </tr>
    <tr>
        <td><a asp-action="MakeMove" asp-route-row="1" asp-route-col="0">@Model.Board[1,0]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="1" asp-route-col="1">@Model.Board[1,1]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="1" asp-route-col="2">@Model.Board[1,2]</a></td>
    </tr>
    <tr>
        <td><a asp-action="MakeMove" asp-route-row="2" asp-route-col="0">@Model.Board[2,0]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="2" asp-route-col="1">@Model.Board[2,1]</a></td>
        <td><a asp-action="MakeMove" asp-route-row="2" asp-route-col="2">@Model.Board[2,2]</a></td>
    </tr>
</table>

@*<h1>Tic Tac Toe</h1>

<div>
    <h2>Current player: @Model.CurrentPlayer</h2>
    <h2>Other player: @Model.OtherPlayer</h2>
</div>

<table>
    @for (int row = 0; row < Model.Board.GetLength(0); row++)
    {
        <tr>
            @for (int col = 0; col < Model.Board.GetLength(1); col++)
            {
                <td>
                    @if (Model.Board[row, col] == '\0')
                    {
                        <a asp-action="MakeMove" asp-route-row="@row" asp-route-col="@col">@Model.Board[row, col]</a>
                    }
                    else
                    {
                        @Model.Board[row, col]
                    }
                </td>
            }
        </tr>
    }
</table>*@